{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-8 mx-auto m-5">
        <div class="text-center">
            <img src="{% if user.account.image %}
            {{user.account.image.url }} 
            {% else %}
            {% static 'images/icon.png' %}
            {% endif %}" alt="" width="150px" height="150px" class="rounded-circle">
        </div>
        <div class="row">
            <div class="mx-auto col-6">
                <div class="text-center mt-4">
                    Full Name
                    <h1 class="lead">
                        <b>{{ user.get_full_name }}</b>
                    </h1>
                </div>
                <br>
                <div>
                    <h1 class="lead">
                        <span><b class="float-left">{{ user.username }}</b></span> <span class="float-right"><b>{{ user.account.gender }}</b></span>
                    </h1>
                </div>
                <br><br>
                <div class="text-center">
                    Email
                    <h1 class="lead">
                        {{ user.email }}
                    </h1>
                </div>
                <div class="text-center">
                    <a href="{% url 'accounts:profile-edit' %}" class="btn btn-secondary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}